RewriteEngine On
# Used to get access to the file 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
# All paths point to the file index.php
RewriteRule ^(.+)$ index.php/$1 [L,QSA]